<?xml version="1.0"?>

<robot name="botao" xmlns:xacro="http://ros.org/wiki/xacro">


  <link name="botao">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/botao.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/botao.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00954509"/>
      <inertia ixx="8.08010910e-7" ixy="0" ixz="0" iyx="0" iyy="1.34192268e-6" iyz="0" izx="0" izy="0" izz="8.08010910e-7"/>
    </inertial>
  </link>
  <link name="fake_botao">
  </link>
  
 <joint name="caixa_to_botao" type="fixed">
    <parent link="caixa"/>
    <child link="botao"/>
    <origin rpy="1.571 0 0" xyz="0 -0.1165 0.215"/> 
    <!-- <axis xyz="0 1 0"/>
    <limit lower="0.0" upper="0.00" effort="1" velocity="1"/> -->
  </joint> 
  <joint name ="botao_fake" type ="fixed">
    <parent link="botao"/>
    <child link="fake_botao"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 1.0"/>
  </joint>
    

</robot>