<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="timon">

  <xacro:include filename="$(find manipulator_description)/urdf/caixa.xacro"/>
  <!-- <xacro:include filename="$(find manipulator_description)/urdf/box_aruco.xacro"/> -->
  <xacro:include filename="$(find manipulator_description)/urdf/tag.xacro"/>
  



</robot>

