<?xml version="1.0"?>

<robot name="box_aruco" xmlns:xacro="http://ros.org/wiki/xacro">


  <link name="box_aruco">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/box_aruco.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://manipulator_description/meshes/box_aruco.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.18150000"/>
      <inertia ixx="1.84525000e-4" ixy="0" ixz="0" iyx="0" iyy="3.66025000e-4" iyz="0" izx="0" izy="0" izz="1.84525000e-4"/>
    </inertial>
  </link>

 <!-- <joint name="base_to_box" type="fixed">
    <parent link=""/>
    <child link=""/>
    <origin rpy="0 0 1.571" xyz="-0.35 0 0"/>
  </joint>  -->

</robot>