<?xml version="1.0" encoding="UTF-8"?>
<launch>
<group ns="/box">
        <!-- Robot model -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find manipulator_description)/urdf/box.urdf.xacro'" />
        <arg name="x" default="-0.4"/>
        <arg name="y" default="0.0"/>
        <arg name="z" default="1.56"/>
        <node name="box_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model box -x $(arg x) -y $(arg y) -z $(arg z)" />

                <!-- Robot state publisher -->
        <node name="box_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
            <!-- <remap from="/joint_states" to="/revel/joint_states" /> -->
        </node>
    </group>
</launch>