<?xml version="1.0"?>
<robot name="manipulador_base" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--Base_to_manipulator-->
    <link name="base_to_manipulator">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://manipulator_description/meshes/basem.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://manipulator_description/meshes/basem.stl"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="10000.86661792"/>
        <inertia ixx="8.72078676" ixy="-9.55785583e-7" ixz="0" iyx="-9.55785583e-7" iyy="4.66430350" iyz="0" izx="0" izy="-0" izz="5.35109282"/>
      </inertial>
    </link>
      <!-- <joint name="base_to_world1" type="fixed">
        <parent link="base_link"/>
        <child link="base_to_manipulator"/>
        <origin rpy="0 0 0" xyz="0.6 0 0"/>
      </joint>
    -->
</robot>