<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="timon">
  <xacro:include filename="$(find manipulator_description)/robots/timon_arm.xacro"/>
  <xacro:include filename="$(find manipulator_description)/robots/hand.xacro"/>
  <xacro:timon_arm />
  <xacro:hand ns="timon" rpy="1.5701 0.0 0.0" xyz="0.0 -0.001 0.055" connected_to="timon_link10"/>
</robot>
